<div class="card border-primary mb-3">
    <div class="card-header">Categorias</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de categorias</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/Home']" >Crear Categoria</button>
        </div>
        <div *ngIf="categorias?.lenght == 0" class="alert alert-info">No hay datos en la lista</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias">
                    <td>{{categoria.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>